div.head{
    overflow: hidden;
    background-color: black;
   
}
.head a{
    float: right;
    display: block;
    color: aliceblue;
    text-align: right;
    padding: 10px 5px;
    text-decoration: none;
}
.head a:hover{
    background-color: white;
    color: rgb(0, 0, 0);

}
div.tt{
    text-align: center;
    color: black;
}
body{  
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://img.teknolojioku.com/rcman/Cw820h461q95gc/storage/files/images/2023/12/09/iphone-16-e6lj-cover-epo5_cover.jpg)
}
div.h1{
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}
